//FONTS
@font-face
    font-family: 'Roboto Mono', monospace
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap')

//COLORS
$light-gray: #E6E1E1
$dark-gray: #707070
$shadow: #00000029
$background: #F7F5F5